html {
    display: block;
    font-size: 18px;
    background-color: white;
}
body {
  display: block;
  font-family: helvetica;
  margin: 0;
}
body .company {
    display: block;
    background-color: black;
    color: white;
  }
.company .container {
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 0;
  }
.company img {
   height: 1.5rem;
   padding-left: 0.5rem;
   padding-right: 1rem;
  }
.company span {
  font-family: helvetica;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  }
body .main-banner {
  display: block;
  background: url("../img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}
.main-banner .container {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  }
.container .headline {
  display: block;
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  }
.headline h1 h4 {
  font-weight: bold;
  }
.headline h1 {
  display: block;
  font-size: 2em;
  margin: 0.25em 0;
  }
.headline h4 {
  display: block;
  }
body .menu {
  display: flex;
  background-color: firebrick;
  color: white;
}
.menu .liste {
  width: 960px;
  margin: 0 auto;
}
ul {
 display: flex;
 list-style: none;
 align-items: center;
 justify-content: space-between;
 padding: 0.75rem 0;
}
ul li {
 display: list-item;
}
body .container {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}
.container .products {
   display: flex;
   justify-content: space-between;
   margin: 3rem 0 0 0;
}
.products .product {
  display: block;
  border: 4px solid black;
  width: 30%;
}
.product .product-image {
  display: flex;
  padding: 2rem 0;
  height: 9rem;
  justify-content: center;
  align-items: center;
}
.product-image img {
  width: 8rem;
}

 .product span {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.container .business-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}
.business-info .info {
  width: 35%;
}
.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

footer {
  display: block;
  background-color: black;
  color: white;
  padding: 5em 0;
  margin-top: 4em;
}
footer .container {
  max-width: 960px;
  margin: 0 auto;
}
